<app-bit-button [bit]="byte[0]" (toggle)="onToggle($event, 0)"></app-bit-button>
<app-bit-button [bit]="byte[1]" (toggle)="onToggle($event, 1)"></app-bit-button>
<app-bit-button [bit]="byte[2]" (toggle)="onToggle($event, 2)"></app-bit-button>
<app-bit-button [bit]="byte[3]" (toggle)="onToggle($event, 3)"></app-bit-button>
<app-bit-button [bit]="byte[4]" (toggle)="onToggle($event, 4)"></app-bit-button>
<app-bit-button [bit]="byte[5]" (toggle)="onToggle($event, 5)"></app-bit-button>
<app-bit-button [bit]="byte[6]" (toggle)="onToggle($event, 6)"></app-bit-button>
<app-bit-button [bit]="byte[7]" (toggle)="onToggle($event, 7)"></app-bit-button>
